#logo {
    width: 30px;
    float: left;
    margin-right: 5px;
    position: relative;
    bottom: 2px;
}

form {
    display: inline;
}

.getIn {
    width: 100%;
}

.title {
    text-align: center;
    margin-bottom: 50px;
}

.title h1 {
    font-size: 2.5em;
}

.title h2 {
    font-size: 1.5em;
    color: #337AB7;
}

.panel-selected {
    background-color: #337AB7;
    color: white;
}

.response {
    margin-bottom: 15px;
}

textarea#description {
    min-width: 100%;
    max-width: 100%;
}

input.show-poll {
    width: 21%;
}